<!DOCTYPE html>
<html>
  <head>
    <title>Config Check</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Database Config Check</h1>
    <a href="/table">Tables</a>
    <strong><%= tableStatus %></strong>
    <br>
    <a href="/product">Products</a>
    <strong><%= productStatus %></strong>
    <br>
    <br>
    <a href="/setting"><button>Goto Settings</button></a>

    <br>
    <p>For updated stored procedure. Update company with latest dll.</p>
  </body>
</html>