<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="5; url=/check" />
	<title>Config Changed</title>
</head>
<body>
<h1>Config Changed</h1>
<strong>Server is restarting</strong>
<br>
<strong>Redirecting to config check in 5 seconds</strong>
</body>
</html>